<!DOCTYPE html>
<html>
<head>
    {{!-- Document Settings --}}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {{!-- Page Meta --}}
<title>{{meta_title}}</title>
<meta name="description" content="{{meta_description}}" />
    {{!-- Mobile Meta --}}
<meta name="HandheldFriendly" content="True" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    {{!-- Brand icon --}}
<link rel="shortcut icon" href="{{asset "/favicon.ico"}}">
    {{!-- Styles'n'Scripts --}}
<link rel="stylesheet" type="text/css" href="{{asset "affinity.min.css"}}" />
<link href="https://fonts.googleapis.com/css?family=Reenie+Beanie" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Paytone+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat|Pinyon+Script" rel="stylesheet">

    {{!-- Ghost outputs important style and meta data with this tag --}}
{{ghost_head}}
<style>
.content-post .content-post-title h1, .content-post .content-post-body h3, .content-post .content-post-body h2, .content-post .content-post-body h4, .content-post .content-post-body h5 {
  font-family: 'Paytone One', sans-serif;
}
.content-post .content-post-body p {
  font-family: 'Montserrat', sans-serif;
}
.content-post .toc {
  font-family: 'Montserrat', sans-serif;
}
.content-post-meta .post-date, .content-post .toc b {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.67rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.sidebar-header .nav a {
  font-family: 'Paytone One', sans-serif;
}
.content-cards .card-header .card-title h1 {
  font-family: 'Paytone One', sans-serif;
  font-size: 1.67rem;
  color: white;
}
.content-cards .card-header .card-title a {
  color: white;
}
.content-cards .card-header .card-title a:hover {
  color: rgba(255,255,255,.5);
}
.card-body-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.67rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.content-cards .card-footer {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.67rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.content-cards .card {
  display: block;
  position: relative;
}
.card .card-header {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.27+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.27) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.27) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.27) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#45000000',GradientType=0 ); /* IE6-9 */
}
</style>
</head>
<body class="{{body_class}}">
    <section class="section">
      <section class="section-sidebar">
        <div class="sidebar-header">
          <a href="{{@blog.url}}" class="sidebar-header-logo" style="font-family: 'Reenie Beanie', cursive;font-size:2.4em;color:black;">
            <span><strong>randomcode</strong>.work</span>
          </a>
          <p style="font-family: 'Montserrat', sans-serif;text-transform:uppercase;letter-spacing:3px;font-size:0.67rem;">{{@blog.description}}</p>
          {{!-- The blog navigation links --}}
          {{!-- navigation --}}
        </div>
        <div class="sidebar-footer"></div>
      </section>

      <section class="section-content" id="content" role="main">
        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}
      </section>

      <section class="section-footer">
        <small><p><strong><a href="{{@blog.url}}">{{@blog.title}}</a></strong> &copy; {{date format="YYYY"}} All Rights Reserved.</p>
        </small>
		<p>Made in <strong>TX</strong> with <span class="text-red">&hearts;</span></p>
      </section>
    </section>

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="{{asset "affinity.min.js"}}"></script>
    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
</body>
</html>
