<!DOCTYPE html>
<html>
<head>
    {{!-- Document Settings --}}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {{!-- Page Meta --}}
<title>{{meta_title}}</title>
<meta name="description" content="{{meta_description}}" />
    {{!-- Mobile Meta --}}
<meta name="HandheldFriendly" content="True" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    {{!-- Brand icon --}}
<link rel="shortcut icon" href="{{asset "/favicon.ico"}}">
    {{!-- Styles'n'Scripts --}}
<link rel="stylesheet" type="text/css" href="{{asset "affinity.min.css"}}" />
<link href="https://fonts.googleapis.com/css?family=Reenie+Beanie" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Paytone+One" rel="stylesheet">

    {{!-- Ghost outputs important style and meta data with this tag --}}
{{ghost_head}}
<style>
.sidebar-header .nav a {
  font-family: 'Paytone One', sans-serif;
}
</style>
</head>
<body class="{{body_class}}">
    <section class="section">
      <section class="section-sidebar">
        <div class="sidebar-header">
          <a href="{{@blog.url}}" class="sidebar-header-logo" style="font-family: 'Reenie Beanie', cursive;font-size:2.4em;color:black;">
            <span><strong>randomcode</strong>.work</span>
          </a>
          <p style="font-family: 'Playfair Display', serif;text-transform:uppercase;letter-spacing:2px;font-size:0.67rem;">{{@blog.description}}</p>
          {{!-- The blog navigation links --}}
          {{navigation}}
        </div>
        <div class="sidebar-footer"></div>
      </section>

      <section class="section-content" id="content" role="main">
        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}
      </section>

      <section class="section-footer">
        <small><p><strong><a href="{{@blog.url}}">{{@blog.title}}</a></strong> &copy; {{date format="YYYY"}} All Rights Reserved.</p>
        </small>
		<p>Made in <strong>TX</strong> with <span class="text-red">&hearts;</span></p>
      </section>
    </section>

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="{{asset "affinity.min.js"}}"></script>
    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
</body>
</html>
